.App {
  text-align: center;
}

.header{
  text-align: center;
  padding: 5px;
  color: #d583f5;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

.jumbotron{
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(155, 97, 179);
  color: white;
  text-align: center;
}